services:
  postgres:
    image: postgres:13
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: sonar
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - sonar_network
    restart: always

  sonarqube:
    image: sonarqube:latest #image docker de sonarqube
    container_name: sonarqube #nom du docker sonarqube
    ports:
      - "9000:9000" #ports utilisés par sonarqube 
    environment:
      - SONARQUBE_JDBC_URL= ${SONARQUBE_JDBC_URL} #URL de la base de données postgres utilisé par sonarqube
      - SONARQUBE_JDBC_USERNAME= ${SONARQUBE_JDBC_USERNAME} # utilisateur de sonarqube sur la base de données postgres
      - SONARQUBE_JDBC_PASSWORD= ${SONARQUBE_JDBC_PASSWORD} # mot de passe de sonarqube sur la bade de données postgres
      - SONARQUBE_JAVA_OPTS=-Djavax.net.ssl.trustStore=/opt/java/openjdk/lib/security/cacerts -Djavax.net.ssl.trustStorePassword=changeit #Définition du chemin du cacert utilisé pour les certificats de sonarqube
    volumes:
      - sonarqube_conf:/opt/sonarqube/conf
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
      - /opt/sonarqube/certs/cacert_sonarqube:/opt/java/openjdk/lib/security/cacerts #copie du cacert_sonarqube présent dans /opt/sonarqube/certs/ dans le repertoire situé en env SONARQUBE_JAVA_OPTS du docker sonarqubé
      - /opt/sonarqube/extensions/plugins:/opt/sonarqube/extensions/plugins
    networks:
      - sonar_network
    depends_on:
      - postgres
    restart: always

  nginx:
    image: nginx:latest #image docker de nginx
    container_name: nginx_sonarqube #nom du docker nginx
    ports:
      - "1443:1443"  # Port HTTP pour accéder via le navigateur
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf #copie de la confif ./nginx.conf dans le docker nginx dans le path /etc/nginx/nginx.conf
      - /opt/sonarqube/certs:/etc/nginx/certs #copie des certificats présent dans /opt/sonarqube/certs dans le docker nginx au path /etc/nginx/certs
    networks:
      - sonar_network
      - public
    depends_on:
      - sonarqube
    restart: always

networks:
  sonar_network:
  public:
    driver: bridge

volumes:
  postgres_data:
  sonarqube_conf:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
